<div class="sidebar">
    <div class="sidebar-border-class">
        <div>
            <a routerLink="home" routerLinkActive="active" class="icon-box-class">
                <i id="home-icon" class="fas fa-th-large"></i>
                <label for="home-icon" class="sidebar-text-class">Domov</label>
            </a>
        </div>
        <div>
            <a routerLink="transaction-input" routerLinkActive="active" class="icon-box-class">
                <i id="input-icon" class="fas fa-th-large"></i>
                <label for="input-icon" class="sidebar-text-class">Vnos</label>
            </a>            
        </div>
        <div>
            <a routerLink="statistics" routerLinkActive="active" class="icon-box-class">
                <i id="statictics-icon" class="fas fa-th-large"></i>
                <label for="statictics-icon" class="sidebar-text-class">Statistika</label>
            </a>            
        </div>
    </div>
    <div class="logout-wrapper">
        <a routerLink="" class="icon-box-class">
            <i id="logout-icon" class="fas fa-sign-out-alt"></i>
            <label for="logout-icon" class="sidebar-text-class" (click)="logout()">Logout</label>
        </a>
    </div>
</div>