<div class="sidebar">
    <div class="sidebar-border-class">
        <div>
            <a routerLink="home" routerLinkActive="active" class="icon-box-class">
                <img width="30px" src="assets/home.svg" alt="Home sign" id="home-icon">
                <label for="home-icon" class="sidebar-text-class">Domov</label>
            </a>
        </div>
        <div>
            <a routerLink="transaction-input" routerLinkActive="active" class="icon-box-class">
                <img width="30px" src="assets/add_circle_outline.svg" alt="Add sign" id="input-icon">
                <label for="input-icon" class="sidebar-text-class">Vnos</label>
            </a>            
        </div>
        <div>
            <a routerLink="statistics" routerLinkActive="active" class="icon-box-class">
                <img width="30px" src="assets/statistics.svg" alt="Add sign" id="statictics-icon">
                <label for="statictics-icon" class="sidebar-text-class">Statistika</label>
            </a>            
        </div>
    </div>
    <div class="logout-wrapper">
        <a routerLink="" class="icon-box-class">
            <img width="30px" src="assets/face.svg" alt="Add sign" id="logout-icon">
            <label for="logout-icon" class="sidebar-text-class" (click)="logout()">Logout</label>
        </a>
    </div>
</div>