<div class="login-wrapper">
    <div class="main title">Money Tracker</div>

    <div class="input-field-wrapper">
        <input type="text" [(ngModel)]='name' class="input-class" placeholder="Email Address">
        <input type="password" [(ngModel)]='password' class="input-class" placeholder="Password">
    </div>
    <div class="forgot-password">
        <div>Ste pozabili geslo?</div>
    </div>
    <button class="primary-button" (click)="login()">
        Prijavi se
    </button>
    <div class="register">Registracija</div>
</div>
