$default-text-color: #000;  
$primary-color: #F79635; 
$secondary-color: #AFC8CF;

$background-color: $secondary-color;
$icon-color: $primary-color; 
$selected-sidebar-element-color: #7e460f; 

$primary-button-color: #fff; 
$primary-button-color-selected: $primary-color; 

body {
    margin: unset;
    font-family: "Open Sans", sans-serif;
}

.background {
    display: flex;
    margin: unset;
    height: 100vh;
    background-color: $secondary-color;
    text-align: center;

    .column-class {
        width: 100%;
    }
}

.primary-button {
    border-radius: 4px;
    background-color: $primary-color;
    padding: 8px;
    border: none; 

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .logout-wrapper {
        margin: 30px;
    }

    .icon-box-class {
        cursor: pointer;
        color: white;
        font-size: 32px;
        margin: 30px 0 5px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
    
        &:hover {
            color: $icon-color;
            cursor: pointer;
            text-decoration: none;
        }  
        
        &.active {
            color: $selected-sidebar-element-color;
        }

        .sidebar-text-clas {
            font-size: 12px;
        }
    }
}

.input-class {
    margin: 10px;
}

.transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button-wrapper {
        display: flex;
        
        button {
            background-color: $primary-button-color;
            margin: 8px;
            padding: 4px;

            &.selected {
                background-color: $primary-button-color-selected;
            }
        }

       
    }
}