$default-text-color: #000;  
$primary-color: #F79635; 
$secondary-color: #AFC8CF;

$title-color: #4D5495; 
$sidebar-background: #77A0BE; 
$sidebar-background-active: #A1C7E2; 
$background-color: $secondary-color;
$icon-color: $primary-color; 
$selected-sidebar-element-color: #7e460f; 

$primary-button-color: #fff; 
$primary-button-color-selected: $primary-color; 

body {
    margin: unset;
    font-family: "Open Sans", sans-serif;
}

.background {
    margin: unset;
    height: 100vh;
    text-align: center;

    .column-class {
        width: 100%;
    }

    .title{
        color: $title-color;
        font-size: 44px;
        padding: 10px;
        display: flex;
        font-weight: bold;
        font-family: system-ui;
        text-transform: uppercase;
        text-shadow: 10px 10px 10px rgba(175, 200, 207, 0.6);
    }
}

.primary-button {
    border-radius: 4px;
    background-color: $primary-color;
    padding: 8px;
    border: none; 

    &:hover {
        cursor: pointer;
        opacity: 0.9;
    }
}

.sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $sidebar-background;

    .sidebar-border-class {
        display: flex;
        justify-items: center;
        align-items: center;
    }

    .icon-box-class {
        cursor: pointer;
        color: white;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        padding: 24px 16px;
        display: flex;
        flex-direction: row;
    
        &:hover {
            color: $icon-color;
            cursor: pointer !important;
            text-decoration: none;
        }  
        
        &.active {
            color: $selected-sidebar-element-color;
            background-color: $sidebar-background-active;
        }

        .sidebar-text-class {
            &:hover {
                cursor: pointer;
            }
        }

        img {
            margin-right: 10px;
        }
    }
}

.input-class {
    margin: 10px;
}

.transaction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button-wrapper {
        display: flex;
        
        button {
            background-color: $primary-button-color;
            margin: 8px;
            padding: 4px;

            &.selected {
                background-color: $primary-button-color-selected;
            }
        }

       
    }
}